* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/trivia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}
@media (min-width: 250px) and (max-width: 480px) {
  body {
    background-repeat: repeat;
  }
}

.container {
  width: 90%;
  max-width: 600px;
  padding: 30px;
  margin: 100px auto 0;
  background-color: #699adab1;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 10);
  border-radius: 20px;
}

.container h1 {
  font-size: 2.5rem;
  color: #9ce5f1;
  letter-spacing: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 30px;
  text-align: center;
}

.quiz {
  padding: 20px 0;
}

#question {
  color: black;
  font-weight: normal;
  letter-spacing: 4px;
  font-family: Impact;
}

.btn {
  background-color: #9ce5f1;
  color: black;
  letter-spacing: 4px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background-color: black;
  color: #9ce5f1;
}
.btn:disabled {
  cursor: no-drop;
}

#nextBtn {
  background-color: black;
  color: #9ce5f1;
  letter-spacing: 4px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}
