form {
        direction: rtl;
        display: block;
        margin-top: 40vh;
        display: flex;
        justify-content: center;

        label{
            color: $blueC;
            font-size: $smallsize;
            font-weight: bold;
            font-family: Assistant; 
            margin: 10px;
        }

        input{
            background: $inputC;
            border: white;
            border-bottom: 3px solid $yellowC;
            margin: 10px;
            width: 15vw;
            height: 5vh;
            
        }

        .btn{
            width: 7vw;
            height: 5vh;
            background-color: $yellowC;
            color: $blueC;
            font-family: Assistant;
            font-weight: bold;
        }
}